@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  pointer-events: auto;
}
.section {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 66;
}
.header_container {
  max-width: 1280px;
  padding: 12px 30px;
  margin: auto;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 22px 10px 15px;
  font-weight: 700;
  cursor: pointer;
  color: #222;
}
.banner_container {
  width: 100%;
  height: 700px;
  background-image: url("../image/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 85px;
}
.bg_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(4, 9, 30, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.banner_container_hading {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
h6 {
  /* color: #222; */
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-transform: uppercase !important;
  line-height: 1.625em;
}
h1 {
  margin: auto;
  max-width: 1280px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 1em;
  margin-top: 20px;
  padding: 2px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1ab7f;
  border-top: 1px solid #d1ab7f;
  display: flex;
  justify-content: center;
  line-height: 1.625em;
}
p {
  max-width: 866px;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  word-break: break-word;
}
button {
  max-width: 1280px;
  background-color: #d1ab7f;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  margin: auto;
  border: 1px solid transparent;
}

button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.3s all;
}
.section_home_area {
  width: 100%;
  padding: 120px 0;
}
.section_home_area_1 {
  max-width: 1280px;
  margin: auto;
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
}
.section_home_area_left {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
.Brand_app {
  color: #d1ab7f;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.625em;
}
.Brand_app_1 {
  padding: 20px 0px;
  font-family: "Poppins", sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 42px;
}
.section_home_area_left span {
  color: #222;
  font-size: 14px;
  line-height: 1.625em;
}
.main_hading {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #777;
  font-size: 14px;
  line-height: 1.625em;
}
.homeBtn button {
  background: #d1ab7f;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
}
.homeBtn:hover button {
  background-color: transparent;
  border: 1px solid #d1ab7f;
  color: #d1ab7f;
  transition: 0.3s all;
}
.section_home_area_right {
  max-width: 30%;
  position: absolute;
  left: 900px;
  top: 72px;
}
.section_home_area_right img {
  width: 426px;
  height: 324px;
}
.item_category_area {
  width: 100%;
  background: #f9f9ff;
  padding: 120px 0;
}
.item_category_area_1 {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iten_available {
  font-family: "Poppins", sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 36px;
}
.grilling_celebrities {
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  margin-top: 20px;
}
.item_list {
  max-width: 1280px;
  margin: 80px auto;
  display: flex;
  gap: 60px;
}
.iten_available_1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.iten_available_1 img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-left: 55px;
  cursor: pointer;
  transition: transform 0.4s ease;
  overflow: hidden;
}
.iten_available_1:hover img {
  transform: scale(1.1);
  overflow: hidden;
}
.iten_available_1 span {
  font-family: "Poppins", sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}
.iten_available_1:hover span {
  color: #d1ab7f;
  transform: scale(1.05);
}

.Pizza_item {
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.viewBtn {
  background: #d1ab7f;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
}
.viewBtn:hover {
  background-color: transparent;
  border: 1px solid #d1ab7f;
  color: #d1ab7f;
  transition: 0.3s;
}
#toggleBtn {
  display: none;
}
.about_video_area {
  width: 100%;
  padding: 120px 0;
}
.container_video {
  max-width: 1280px;
  margin: auto;
  display: flex;
}
.container_video_left {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
.container_video_left_1 {
  color: #d1ab7f;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase !important;
}
.container_video_left_2 {
  font-family: "Poppins", sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 36px;
  padding: 20px 0;
}
.container_video_left_3 {
  font-weight: 600;
  color: #222;
  font-size: 14px;
}
.container_video_left_4 {
  margin-top: 20px;
  margin-bottom: 1rem;
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.container_video_Btn {
  margin-top: 25px;

  background: #222;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid transparent;
}
.container_video_Btn:hover {
  background-color: transparent;
  color: #d1ab7f;
  border: 1px solid #d1ab7f;
}
.container_video_right {
  width: 50%;
  background-image: url("../image/video-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  top: 0px;
  left: 0px;
}
.playBtn {
  position: absolute;
  top: 160px;
  left: 300px;
  cursor: pointer;
}
.review_area_section {
  width: 100%;
  height: 600px;
  background-image: url("../image/review-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay_bg {
  width: 100%;
  height: 100%;
  background: rgba(4, 9, 30, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.review_section {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.review_section_1 {
  color: #fff !important;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2em !important;
  font-weight: 600;
  border: none;
}
.review_section_2 {
  color: #fff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2em !important;
  font-weight: 600;
  border: none;
}
.review_section_item {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-top: 40px;
}
.review_section_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  text-align: justify;
}
.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.title span {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.start {
  margin-left: 30px;
}
.title_decscription {
  color: #fff;
  font-size: 14px;
}
.review_section_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  text-align: justify;
}
.Latest_posts {
  width: 100%;
  padding: 120px 0;
}
.Latest_posts_1 {
  max-width: 1280px;
  margin: auto;
}
.Blog {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 36px;
}
.Blog_list {
  margin-bottom: 45px;
  text-align: center;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.Blog_row {
  width: 100%;
  display: flex;
  gap: 30px;
  cursor: pointer;
  overflow: hidden;
}
.Blog_row_1 > img {
  transition: transform 0.5s ease;
  display: block;
  cursor: pointer;
}

.Blog_row_1:hover > img {
  transform: scale(1.03);
}
.Blog_row_1 {
  width: 33%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.single_blog {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single_blog_1 {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
  font-weight: 300px;
  line-height: 1.625em;
  color: #222;
}
.single_blog_2 {
  color: #777;
  display: flex;
  gap: 15px;
  font-size: 14px;
}
.single_blog_3 {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 35px;
  font-size: 20px;
  color: #222;
  line-height: 1.2em !important;
  transition: color 0.3s ease;
}
.Blog_row_1:hover .single_blog_3 {
  color: #daab7f;
}
.single_blog_4 {
  margin-top: 15px;
  margin-bottom: 45px;
  color: #777;

  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  text-align: justify;
}
footer {
  background: #04091e;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
.footer_section {
  max-width: 1280px;
  margin: auto;
}
.container_footer {
  width: 100%;
  display: flex;
  gap: 30px;
  /* position: relative;
  top: 0px;
  left: 0px; */
}
.About_us {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.About_us span {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.About_us_item {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.inputbtn input {

  margin-top: 20px;
    font-weight: 300;
  background: #f9f9ff;
   font-size: 13px;
   flex: 1;               
  padding: 15px;
  border: none;
  outline: none;
}
.clickBtn {
  display: flex;
  background-color: #d1ab7f;
  color: #fff;
  padding: 8px 12px;
  font-size: 14px;
   margin-top: 19px;
  border: 1px solid transparent;
 
}
.inputbtn {
  display: flex;
  align-items: center;  
  width: 100%;
  max-width: 400px;    
  overflow: hidden;     
}
.social_item {
  width: 80% !important;
  margin-top: 20px;
  display: flex;
  gap: 14px;
  font-size: 14px;
}
.Copyright {
  color: #fff;
  padding-top: 50px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.aboutBtn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact_page_area {
  width: 100%;
  padding: 120px 0;
}
.contact_page_area_1 {
  max-width: 1280px;
  margin: auto;
}
.loction {
  width: 100%;
  margin-top: 100px;
  display: flex;
}
.loction_1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.home_icone {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home_icone_1 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
  color: #222;
}
.home_icone_2 {
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
form input {
  font-size: 12px;
  padding: 15px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

form {
  width: 67%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
.inputTex {
  width: 50%;
}
.inputTex1 {
  width: 50%;
  margin-top: 20px;
}
textarea {
  overflow: hidden;

  height: 190px;
  outline: none;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
.sendBtn {
  color: #fff;
  background: #d1ab7f;
  border: 1px solid transparent;
  margin-right: 0px;
}
.sendBtn:hover {
  border: 1px solid #d1ab7f;
  color: #d1ab7f;
}
.menu_list {
  padding: 120px 0;
  width: 100%;
  background-image: url("../image/pattern-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu_list_Btn {
  max-width: 1280px;
  margin: auto;
}
.menu_list_Btn_1 {
  width: 100%;
}
.menu_list_Btn_1 ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 30px;
  color: #222;
}
.menu_list_Btn_1 ul li {
  background-color: #d1ab7f;
  color: #fff;
  width: 100px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu_list_Btn_2 {
  width: 100%;
  margin-top: 80px;
}
.Pizza_Americano {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.1);
  display: flex;
}
.Pizza_Americano_left {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Pizza_Americano_left span {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
  font-weight: 600;
}
.Pizza_rapid {
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.Pizza_Americano_right {
  width: 25%;
  display: flex;
  gap: 11px;
}
.s_price {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.s_price span {
  font-size: 18px;
  color: #222;
  line-height: 1.2em !important;
  font-weight: 600;
}
.s_price h4 {
  font-size: 18px;
  font-weight: 600;
  color: #d1ab7f;
}

